.sidebar{
font-family: 'Roboto', sans-serif;
color: white;
background-color: rgb(187, 218, 164);
display: block;
position: fixed;
top: 0;
bottom: 0;
left: 0;
max-width: 35%;
margin: 0px;
padding: 0px;
overflow: auto;
}



.title {
top: 0;
left: 0;
width: 100%;
padding: 2;
list-style: none;
text-align: center;
}

.sidebar_inputs {
}

input[type="text"] {
font-family: 'Roboto', sans-serif;
}

.sidebar_route_lists {
}

.map_container {
background-color: lightblue;
display: block;
position: fixed;
top: 0;
bottom: 0;
right: 0;
width: 65%;
margin: 0;
padding: 0;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}

#floating-panel {
position: absolute;
top: 10px;
left: 25%;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}
#warnings-panel {
width: 100%;
height:10%;
text-align: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  color: rgb(232, 177, 76);
  display: inline-block;
  margin: 2%;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.route_name{
	display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
}

.route_duration{
	display: inline-block;
	position: relative;
	text-align: right;
	padding-right: 5%;
	margin-right: 5%;
	height: 100%;
}

h3 {
	font-weight: 400;
    font-size: 1rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}

.leaf_rating{
  display: inline-block;
  width: 30px;
  top: 0;
  left: 0;
  padding-right: 2%;
  list-style: none; 
  text-align: center;
}